body{
font-family:Arial;
margin:0;
background:#f2f2f2;
text-align:center;
}

header{
background:#0a6cff;
color:white;
padding:30px;
}

section{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
}

a{
color:white;
background:black;
padding:8px 15px;
text-decoration:none;
border-radius:5px;
}

footer{
background:#222;
color:white;
padding:10px;
}